@using GestionClientesEntidades.Dto;
@using GestionClientesEntidades.Models;
@model List<ClientList>

<link rel="stylesheet" href="~/css/Clients/ClientList.css" asp-append-version="true" />


@if(Model != null)
{
    <ul id="client-list">
        @foreach(ClientList client in Model)
        {
            <li onclick="openClientInfo(event)" id="@client.ID">
                <p class="clint-id">@client.ConsultantID</p>
                <p class="name">@client.Name</p>
                <p class="client-type">@client.ConsultantType</p>
                @if(client.Pendientes > 0)
                {
                    if(client.Pendientes == 1)
                    {
                        <p class="order-state">1 pedido</p>
                    }
                    else
                    {
                        <p class="order-state">@client.Pendientes pedidos</p>
                    }
                    
                }
                else
                {
                    <p class="order-state">Sin pedidos</p>
                }
                
                <div class="client-controls">
                    <button class="btn-new-client">
                        <span class="icon add-icon"></span>
                        Nuevo Pedido
                    </button>
                    <button class="btn-order-history">
                        <span class="icon history-icon"></span>
                        Historial
                    </button>
                </div>
            </li>
        }
    </ul>
}

