@using GestionClientesEntidades.Dto;
@using GestionClientesEntidades.Models;
@using System.Globalization;

@model List<OrderList>

@if(Model != null)
{
    foreach (var order in Model)
    {
        <ul id="order-list">
            <li id="@order.ID" onclick="showOrderDetails(@order.ID)">
                <p class="order-id">@order.OrderNumber</p>
                <p class="client-name">@order.ClientName</p>
                <p class="Amount">@string.Format("{0:C}", order.Total)</p>
                <p class="date">@order.DateCreated.ToString("dd/MM/yyyy")</p>
                <p class="campaing">Campaña @order.Campaign</p>
                <p class="state">@order.State</p>
            </li>
        </ul>   
    }
}
